.form-group {
    label {
        font-size: var(--font-size-small);
        margin-bottom: 5px;
        display: block;
    }

    .form-input {
        display: flex;
        width: -webkit-fill-available;
        color: var(--berie-black);
        box-sizing: border-box;
        border-radius: var(--border-radius-base);
        border: 1px solid var(--berie-black);
    }

    &.medium {
        .form-input {
            padding: 0.5rem;
            height: 40px;
        }
    }

    &.large {
        .form-input {
            padding: 0.75rem;
            height: 50px;
        }
    }

    &.small {
        .form-input {
            padding: 0.4rem;
            height: 30px;
        }
    }

    &.error {
        .form-input {
            border: 1px solid var(--color-error);
        }

        .input-error {
            color: var(--color-error);
            font-size: var(--font-size-small);
            margin-top: 4px;
        }

    }

}