.ui-button {
    display: flex;
    width: fit-content;
    padding: 0.5rem 1rem;
    align-items: center;
    color: var(--white);
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    border: none;

    .content-wrapper {
        display: flex;
        align-items: center;
        font-size: var(--font-size-ui-button);
        svg {
            margin-right: 1rem;
        }
    }

    &.primary {
        background-color: var(--color-primary);

        &:hover {
            background-color: var(--color-primary-dark-1);
        }
    }

    &.secondary {
        background-color: rgba(0, 0, 0, .4);

        &:hover {
            background-color: rgba(0, 0, 0, .7)
        }
    }
}